<div class="row">
    <div class="col-sm-12 center-block" style="margin-top:10px; text-align: center;"><h4 class="center-block">What do you want to do?</h4></div>   

</div>
<div class="row">
    
    <div class="col-md-3">
        <a class="col-sm-12 btn btn-default" href="#details" role="button">NEW EMPLOYEE</a>
        <br />
    </div>

    <div class="col-md-3">
        <a class="col-sm-12 btn btn-default" href="#details" role="button">EMPLOYEES</a>
        <br />
    </div>

    <div class="col-md-3">
        <a class="col-sm-12 btn btn-default" href="#salaries" role="button">Salary</a>
        <br />
    </div>
    <div class="col-md-3">
        <a class="col-sm-12 btn btn-default" href="#print" role="button">Employee DB</a>
        <br />
    </div>
    
</div>
