<!DOCTYPE html>
<html ng-app="payApp">

<head>
    <title>Employee Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="icon" href="assets/img/favicon.ico">
   
	 <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">    
    <link rel="stylesheet" href="/public/css/style.css" />

    <!-- scripts -->


</head>

<body>
	<div id="wrap" ng-controller="mainController">
        <div id="home" class="container-fluid">
            <header>
                 <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="/public/img/mEmployeeLogo.png" width="20%"/>
                    </div>
                </div>                    
            </header>

            <section>    
                <div class="row">            
                    <div ng-view></div>                     
                </div>               
            </section>

        </div>
    
        <footer>
            <div class="row">                    
                <div class="col-md-12">
                    <p class="text-center">
                        &copy; 2016. All rights reserved.                            
                    </p>
                </div>
            </div>

        </footer>
    </div>
    
   
    
    <!-- Scripts -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>	
	<script src="/models/app.js"></script>
   

</body>
</html>
